<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error404</title>
</head>
<script>
    function delay(time) {
    return new Promise(function(resolve) {
        setTimeout(resolve, time)
    })
}
delay(3000).then(() => {
    window.location.href = "/"; 
})
</script>

<link href="/public/style.css" rel="stylesheet"/>
<body>

    <div class="errordiv">
        <h1 class="errorbig">
            The page you are trying to reach does not exist
        </h1>
        <p>
            You will be automatically redirected to the home page after seconds.
        </p>
    </div>

</body>
</html>